<div class="modal-overlay" (click)="modalRef.close()">
  <!-- o stopPropagation é um recurso antigo do JS que faz com que
    a propagação do click seja interrompida na subida de hierarquia
    dos elementos ao acessar algum dos elementos do modal, para que,
    assim, o elemento não seja fechado e se possa interagir com ele -->
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h1 class="modal-title">{{ config.title }}</h1>
    <!-- conteúdo do modal, template -->
    <ng-container *ngTemplateOutlet="config.templateRef"></ng-container>
  </div>
</div>
